/* ==UserStyle==
@name           Multi-column AO3
@version        20200119.0.2
@description    Multi-column layout for Archive of our Own (AO3).
@author         keturn (https://keturn.net)
@namespace      keturn.net
@homepageURL    https://gitlab.com/keturn/multicolumn-ao3-usercss
@supportURL     https://gitlab.com/keturn/multicolumn-ao3-usercss/issues
@updateURL      https://gitlab.com/keturn/multicolumn-ao3-usercss/raw/master/multicolumn-ao3.user.css
@license        MIT-0
@preprocessor   default
@var text column-width "Column Width" "40vw"
@var text gap-width "Gap Width" "4em"
@var text rule-style "Rule Style" "inset"
@var text rule-width "Rule Width" "medium"
@var color rule-color "Rule Color" "rgba(0, 0, 0, 0.33)"
==/UserStyle== */
@-moz-document domain("archiveofourown.org") {
    #workskin {
        max-width: 100%;
    }

    /* Firefox was less picky about where we set column layout
     * (e.g. we could do it on #workskin), but in Chrome it
     * didn't flow correctly unless we put it closer to the text.
     */
    .userstuff[role="article"], [role="article"] .userstuff {
        column-count: auto;
        column-width: var(--column-width);
        column-gap: var(--gap-width);
        column-rule-width: var(--rule-width);
        column-rule-style: var(--rule-style);
        column-rule-color: var(--rule-color);
        scroll-snap-type: x;
        box-sizing: border-box;
        max-height: 100vh;
        max-width: 100%;
        overflow-x: auto;
        margin-top: 1ex;
        padding-top: 1ex;
    }

    #workskin p {
        scroll-snap-align: start;
    }
}


@-moz-document url-prefix("https://www.royalroad.com/fiction/") {
    .container {
        /* container is more than just the chapter text, but I don't have a good
         * way to widen that beyond its container without taking it out of the
         * document flow entirely. */
        width: 100%;
    }

    .portlet.chapter {
        padding-left: 0;
        padding-right: 0;
    }

    .chapter-inner {
        column-count: auto;
        column-width: var(--column-width);
        column-gap: var(--gap-width);
        column-rule-width: var(--rule-width);
        column-rule-style: var(--rule-style);
        column-rule-color: var(--rule-color);
        scroll-snap-type: x;
        box-sizing: border-box;
        max-height: 100vh;
        max-width: 100%;
        overflow-x: auto;
        padding-top: 1ex;
    }

    .chapter-inner p {
        scroll-snap-align: start;
    }

}
